.searchPokemon {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    align-items: center;
    flex-direction: column;
}

.searchPokemon__button {
    /* margin-bottom: 15px; */
    margin: auto;
}


.inputSearch {
    display: flex;
}

.input {
    display: flex;
    width: 330px; 
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.pokemonFile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pokemonFile__info {
    text-align: center;
}

.pokemonFile__title {
    display: flex;
    justify-content: center;
}

.noMatch {
    display: flex;
    justify-content: center;
    background-color: rgb(235, 45, 12, 0.8);
    color: white;
    padding: 0.4%;
    border-radius: 6px;
    text-align: center;
}

.searchPokemon__card {
    width: 18rem;
}


@media (max-width: 415px) {
    .searchPokemon__card {
        width: 18rem;
        height: 23.5rem;
    }

    .searchPokemon__img {
        width: 10rem;
        height: 10rem;
        margin-left: 63px;
        margin-top: 10px;
    }

    .pokemonFile__title {
        font-size: medium;
    }

    .searchPokemon__pokemon {
        margin: auto;
    }

    .searchPokemon {
        margin-top: 3px;
    }

    .noMatch {
        width: 90%;
    }
}