.sideDropdown {
    display: flex;
    justify-content: flex-end;
}

.sideDropdown__userName {
    background-color: #007bff;
    color: white;
    padding: 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.sideDropdown__userName > img {
    margin: 2px;
}